<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>Dj4o7U4xz0lnmx8CRlI4cezgQqTTyh91usjzXfhsIFA6iQXgiR</string>
	<key>consumer_Key</key>
	<string>rMtHfdmwpfab6ajTuFRww4bOI</string>
</dict>
</plist>
